<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harlankuo.hyacinth.wcms.model.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.harlankuo.hyacinth.wcms.model.SysUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_flag" jdbcType="INTEGER" property="userFlag" />
    <result column="user_createtime" jdbcType="TIMESTAMP" property="userCreatetime" />
    <result column="user_isdelete" jdbcType="INTEGER" property="userIsdelete" />
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, user_name, user_password, user_flag, user_createtime, user_isdelete
  </sql>
  <select id="Login" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_user 
    where user_name=#{userName,jdbcType=VARCHAR} and user_password = #{userPassword,jdbcType=VARCHAR}
  </select>
  <select id="getSingle" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_user 
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getList" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    <where>
    	<if test="userIsdelete != null ">
    		user_isdelete = #{userIsdelete,jdbcType=integer}
    	</if>
    	<if test="userFlag != null">
    		AND user_flag = #{userFlag,jdbcType=integer}
    	</if>
    </where>
    order by user_id
  </select>
    <select id="getPageList" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    	<where>
			<if test="userIsdelete != null ">
	    		user_isdelete = #{userIsdelete,jdbcType=INTEGER}
	    	</if>
	    	<if test="userFlag != null">
	    		AND user_flag = #{userFlag,jdbcType=INTEGER}
	    	</if>
    	</where>
    order by user_id
  </select>
  <select id="getAllList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    order by user_id
  </select>
  <select id="count" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser" resultType="integer">
    select  count(1)
    from t_sys_user
    	<where>
	    	<if test="userIsdelete != null ">
	    		user_isdelete = #{userIsdelete,jdbcType=INTEGER}
	    	</if>
	    	<if test="userFlag != null">
	    		AND user_flag = #{userFlag,jdbcType=INTEGER}
	    	</if>
    	</where>
  </select>
  <delete id="remove" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser">
    delete from t_sys_user
	<where>
		<if test="userId != null">
			user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="userIsdelete != null ">
    		AND user_isdelete = #{userIsdelete,jdbcType=integer}
    	</if>
    	<if test="userFlag != null">
    		AND user_flag = #{userFlag,jdbcType=integer}
    	</if>
	</where>
  </delete>
  <insert id="add" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser">
      insert into t_sys_user (user_id, user_name, user_password, 
      user_flag, user_createtime, user_isdelete
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userFlag,jdbcType=INTEGER}, #{userCreatetime,jdbcType=TIMESTAMP}, #{userIsdelete,jdbcType=INTEGER}
      )
  </insert>
  <update id="edit" parameterType="com.harlankuo.hyacinth.wcms.model.SysUser">
    update t_sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        user_flag = #{userFlag,jdbcType=INTEGER},
      </if>
      <if test="userCreatetime != null">
        user_createtime = #{userCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userIsdelete != null">
        user_isdelete = #{userIsdelete,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>